<a href="https://colab.research.google.com/github/thejanit/test/blob/new/Purchasing_Products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Reading Records.json/ Inventory**

In [135]:
import json

with open('Records.json', 'r') as fp:
  data = json.load(fp)

data

{'1001': {'Category': 'Food', 'Name': 'Rice', 'Price': 35, 'Qty': 235},
 '1002': {'Category': 'Snacks', 'Name': 'Burger', 'Price': 25, 'Qty': 76},
 '1003': {'Category': 'Drinks', 'Name': 'Lime Juice', 'Price': 20, 'Qty': 46},
 '1004': {'Category': 'Drinks', 'Name': 'Coke', 'Price': 30, 'Qty': 35},
 '1005': {'Category': 'Food', 'Name': 'Pulses', 'Price': 39, 'Qty': 191},
 '1006': {'Category': 'Snacks', 'Name': 'Pizza', 'Price': 99, 'Qty': 142},
 '1007': {'Category': 'Snacks', 'Name': 'Pastry', 'Price': 45, 'Qty': 70},
 '1008': {'Category': 'Drinks', 'Name': 'Dew', 'Price': 35, 'Qty': 15},
 '1009': {'Category': 'Drinks', 'Name': 'Frooti', 'Price': 45, 'Qty': 85},
 '1010': {'Category': 'Technology',
  'Name': 'Laptop',
  'Price': 76500,
  'Qty': 78},
 '1011': {'Category': 'Technology', 'Name': 'PC', 'Price': 45909, 'Qty': 38},
 '1012': {'Category': 'Technology',
  'Name': 'Mobile',
  'Price': 1999,
  'Qty': 104},
 '1013': {'Category': 'Technology', 'Name': 'Mouse', 'Price': 159, 'Qty': 213},
 '1014': {'Category': 'Technology',
  'Name': 'Charger',
  'Price': 139,
  'Qty': 167},
 '1015': {'Category': 'Technology',
  'Name': 'Data Card',
  'Price': 800,
  'Qty': 11},
 '1016': {'Category': 'Technology',
  'Name': 'Earphones',
  'Price': 1599,
  'Qty': 105},
 '1017': {'Category': 'Technology',
  'Name': 'Keyboard',
  'Price': 799,
  'Qty': 210},
 '1018': {'Category': 'Accessories',
  'Name': 'Wallet',
  'Price': 110,
  'Qty': 50},
 '1019': {'Category': 'Accessories',
  'Name': 'Goggles',
  'Price': 499,
  'Qty': 70},
 '1020': {'Category': 'Accessories',
  'Name': 'Wrist Watch',
  'Price': 1899,
  'Qty': 141},
 '1021': {'Category': 'Accessories', 'Name': 'Cable', 'Price': 30, 'Qty': 39},
 '1022': {'Category': 'Medicine',
  'Name': 'Paracetamol',
  'Price': 15,
  'Qty': 45},
 '1023': {'Category': 'Medicine',
  'Name': 'ImmunoDoz',
  'Price': 150,
  'Qty': 76},
 '1024': {'Category': 'Clothes', 'Name': 'Jeans', 'Price': 899, 'Qty': 215},
 '1025': {'Category': 'Medicine', 'Name': 'Zinc30', 'Price': 35, 'Qty': 350},
 '1026': {'Category': 'Clothes', 'Name': 'T-Shirts', 'Price': 499, 'Qty': 156},
 '1027': {'Category': 'Clothes', 'Name': 'Shirt', 'Price': 799, 'Qty': 79},
 '1028': {'Category': 'Clothes', 'Name': 'Shorts', 'Price': 199, 'Qty': 85},
 '1029': {'Category': 'Snacks', 'Name': 'Biscuit', 'Price': 10, 'Qty': 109},
 '1030': {'Category': 'Snacks', 'Name': 'Cake', 'Price': 340, 'Qty': 74},
 '30': 2,
 '31': 2,
 '32': 2,
 '33': 2,
 '34': 2}

**Purchasing System**

In [132]:
# Taking Input from Customer - ID and Quantity
id_prod = input("Enter the ID of the product which you want to buy: ")
qty_prod = int(input("Enter how much quantity you want to buy: "))

# Checking the Ordered ID exists or Not in Inventory.
# If ID exists...
if id_prod in data.keys():
  
  # Checking the Ordered Quantitiy is greater or lesser than Inventory having.
  # If Greater...
  if qty_prod > data[id_prod]['Qty']:
    print("#########################################")
    print(f'{qty_prod} is too much !!! SORRY !!!')

  # If Lesser...  
  else:
    print("||||||||||||||||||||||||||||||||||||||||||||||||||")
    print("Your Product is: ", data[id_prod]['Name'])
    print("Price of Product: Rs.", data[id_prod]['Price'])
    print("Total Billing Amount: Rs.", data[id_prod]['Price'] * qty_prod)

    # Reducing Quantity after purchasing done
    data[id_prod]['Qty'] = data[id_prod]['Qty'] - qty_prod

# If ID not exists...
else:
  print("###########################################")
  print(f'!! SORRY !! {id_prod} ID is not exists in Inventory. Please try different one !!')


# Updating Inventory after Purchasing
rec = json.dumps(data)

with open('Records.json', 'w') as fpw:
  fpw.write(rec)

Enter the ID of the product which you want to buy: 1030
Enter how much quantity you want to buy: 15
||||||||||||||||||||||||||||||||||||||||||||||||||
Your Product is:  Cake
Price of Product: Rs. 340
Total Billing Amount: Rs. 5100

**Creating Sales.json File from Scratch**

In [91]:
# Addding Time Info..
import time
t = time.ctime()

print(t)

Sun Sep  5 15:58:03 2021

In [133]:
sales[int(input())] = {'Id' : id_prod, 'Name' : data[id_prod]['Name'], 'Qty' : qty_prod, 'Price' : data[id_prod]['Price'], 'Amount' : data[id_prod]['Price'] * qty_prod, 'time' : t }

sale = json.dumps(sales)

# Writing sales into Sales.json
with open('Sales.json', 'w') as fs:
  fs.write(sale)

21

In [134]:
# Reading Sales.json file
with open('Sales.json', 'r') as fsr:
  transaction = json.load(fsr)

transaction

{'1': {'Amount': 1710,
  'Id': '1021',
  'Name': 'Cable',
  'Price': 30,
  'Qty': 57,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '10': {'Amount': 1620,
  'Id': '1004',
  'Name': 'Coke',
  'Price': 30,
  'Qty': 54,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '11': {'Amount': 12935,
  'Id': '1028',
  'Name': 'Shorts',
  'Price': 199,
  'Qty': 65,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '12': {'Amount': 3902265,
  'Id': '1011',
  'Name': 'PC',
  'Price': 45909,
  'Qty': 85,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '13': {'Amount': 420,
  'Id': '1021',
  'Name': 'Cable',
  'Price': 30,
  'Qty': 14,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '14': {'Amount': 1820,
  'Id': '1008',
  'Name': 'Dew',
  'Price': 35,
  'Qty': 52,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '15': {'Amount': 27944,
  'Id': '1026',
  'Name': 'T-Shirts',
  'Price': 499,
  'Qty': 56,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '16': {'Amount': 95880,
  'Id': '1027',
  'Name': 'Shirt',
  'Price': 799,
  'Qty': 120,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '17': {'Amount': 9980,
  'Id': '1019',
  'Name': 'Goggles',
  'Price': 499,
  'Qty': 20,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '18': {'Amount': 160,
  'Id': '1029',
  'Name': 'Biscuit',
  'Price': 10,
  'Qty': 16,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '19': {'Amount': 86346,
  'Id': '1016',
  'Name': 'Earphones',
  'Price': 1599,
  'Qty': 54,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '2': {'Amount': 7596,
  'Id': '1020',
  'Name': 'Wrist Watch',
  'Price': 1899,
  'Qty': 4,
  'time': 'Sun Sep  5 15:09:00 2021'},
 '20': {'Amount': 22890,
  'Id': '1001',
  'Name': 'Rice',
  'Price': 35,
  'Qty': 654,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '21': {'Amount': 5100,
  'Id': '1030',
  'Name': 'Cake',
  'Price': 340,
  'Qty': 15,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '3': {'Amount': 43200,
  'Id': '1015',
  'Name': 'Data Card',
  'Price': 800,
  'Qty': 54,
  'time': 'Sun Sep  5 15:29:48 2021'},
 '4': {'Amount': 7996,
  'Id': '1012',
  'Name': 'Mobile',
  'Price': 1999,
  'Qty': 4,
  'time': 'Sun Sep  5 15:29:48 2021'},
 '5': {'Amount': 2100,
  'Id': '1023',
  'Name': 'ImmunoDoz',
  'Price': 150,
  'Qty': 14,
  'time': 'Sun Sep  5 15:29:48 2021'},
 '6': {'Amount': 300,
  'Id': '1002',
  'Name': 'Burger',
  'Price': 25,
  'Qty': 12,
  'time': 'Sun Sep  5 15:29:48 2021'},
 '7': {'Amount': 1600,
  'Id': '1015',
  'Name': 'Data Card',
  'Price': 800,
  'Qty': 2,
  'time': 'Sun Sep  5 15:29:48 2021'},
 '8': {'Amount': 6750,
  'Id': '1023',
  'Name': 'ImmunoDoz',
  'Price': 150,
  'Qty': 45,
  'time': 'Sun Sep  5 15:58:03 2021'},
 '9': {'Amount': 4448,
  'Id': '1014',
  'Name': 'Charger',
  'Price': 139,
  'Qty': 32,
  'time': 'Sun Sep  5 15:58:03 2021'}}